RewriteEngine on

RewriteCond %{REQUEST_URI} !(public)
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.otf|\.woff|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

